### Step 1: Ensure that the following Python packages are imported into your working environment: pandas, numpy, matplotlib, and os.

In [1]:
import os
import pandas as pd
import numpy as np

### Step 2: Setup your working directory.

In [5]:
os.chdir('/Users/markruperto/Desktop/School/GCU/BIT-446/Topic 1')

In [6]:
os.getcwd()

'/Users/markruperto/Desktop/School/GCU/BIT-446/Topic 1'

### Step 3: Import the attached "Churn-1" Excel file into a pandas dataframe called "Churn;" add a record field starting at 0.

In [9]:
Churn = pd.read_excel("Churn-1.xlsx")

Churn["record"] = range(len(Churn))

### Step 4: Provide header information regarding the dataframe, including the data types for each column.

In [13]:
print(Churn.head())
print(Churn.info())
print(Churn.describe())

  State  Account Length  Area Code     Phone Int'l Plan VMail Plan  \
0    KS             128        415  382-4657         no        yes
1    OH             107        415  371-7191         no        yes
2    NJ             137        415  358-1921         no         no
3    OH              84        408  375-9999        yes         no
4    OK              75        415  330-6626        yes         no

   VMail Message  Day Mins  Day Calls  Day Charge  ...  Eve Charge  \
0           25.0     265.1      110.0       45.07  ...       16.78
1           26.0     161.6      123.0       27.47  ...       16.62
2            0.0     243.4      114.0       41.38  ...       10.30
3            0.0     299.4       71.0       50.90  ...        5.26
4            0.0     166.7      113.0       28.34  ...       12.61

   Night Mins  Night Calls  Night Charge  Intl Mins  Intl Calls  Intl Charge  \
0       244.7         91.0         11.01       10.0           3         2.70
1       254.4        103.0         11.45       13.7           3         3.70
2       162.6        104.0          7.32       12.2           5         3.29
3       196.9         89.0          8.86        6.6           7         1.78
4       186.9        121.0          8.41       10.1           3         2.73

   CustServ Calls  Churn?  record
0               1  False.       0
1               1  False.       1
2               0  False.       2
3               2  False.       3
4               3  False.       4

[5 rows x 22 columns]
<class 'pandas.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           3333 non-null   str
 1   Account Length  3333 non-null   int64
 2   Area Code       3333 non-null   int64
 3   Phone           3333 non-null   str
 4   Int'l Plan      3333 non-null   str
 5   VMail Plan      3333 non-null   str
 6   VMail Message   3331 non-null   float64
 7   Day Mins        3332 non-null   float64
 8   Day Calls       3332 non-null   float64
 9   Day Charge      3329 non-null   float64
 10  Eve Mins        3333 non-null   float64
 11  Eve Calls       3330 non-null   float64
 12  Eve Charge      3332 non-null   float64
 13  Night Mins      3331 non-null   float64
 14  Night Calls     3331 non-null   float64
 15  Night Charge    3333 non-null   float64
 16  Intl Mins       3331 non-null   float64
 17  Intl Calls      3333 non-null   int64
 18  Intl Charge     3333 non-null   float64
 19  CustServ Calls  3333 non-null   int64
 20  Churn?          3333 non-null   str
 21  record          3333 non-null   int64
dtypes: float64(12), int64(5), str(5)
memory usage: 638.8 KB
None
       Account Length    Area Code  VMail Message     Day Mins    Day Calls  \
count     3333.000000  3333.000000    3331.000000  3332.000000  3332.000000
mean       101.064806   437.182418       8.125788   179.750960   100.440876
std         39.822106    42.371290      13.849603    54.457733    20.069822
min          1.000000   408.000000       0.000000     0.000000     0.000000
25%         74.000000   408.000000       0.000000   143.675000    87.000000
50%        101.000000   415.000000       0.000000   179.400000   101.000000
75%        127.000000   510.000000      20.000000   216.325000   114.000000
max        243.000000   510.000000     133.000000   350.800000   165.000000

        Day Charge     Eve Mins    Eve Calls   Eve Charge   Night Mins  \
count  3329.000000  3333.000000  3330.000000  3332.000000  3331.000000
mean     30.554683   200.980348   100.121321    17.085528   200.877064
std       9.261432    50.713844    19.929411     4.309786    50.588010
min       0.000000     0.000000     0.000000     0.000000    23.200000
25%      24.410000   166.600000    87.000000    14.160000   167.000000
50%      30.500000   201.400000   100.000000    17.120000   201.200000
75%      36.770000   235.300000   114.000000    20.000000   235.350000
max      59.640000   363.700000   170.000000    30.910000   395.000000

       Night Calls  Night Charge    Intl Mins   Intl Calls  Intl Charge  \
count  3331.000000   3333.000000  3331.000000  3333.000000  3333.000000
mean    100.104173      9.039325    10.235935     4.479448     2.764581
std      19.573814      2.275873     2.791697     2.461214     0.753773
min      33.000000      1.040000     0.000000     0.000000     0.000000
25%      87.000000      7.520000     8.500000     3.000000     2.300000
50%     100.000000      9.050000    10.300000     4.000000     2.780000
75%     113.000000     10.590000    12.100000     6.000000     3.270000
max     175.000000     17.770000    20.000000    20.000000     5.400000

       CustServ Calls      record
count     3333.000000  3333.00000
mean         1.562856  1666.00000
std          1.315491   962.29855
min          0.000000     0.00000
25%          1.000000   833.00000
50%          1.000000  1666.00000
75%          2.000000  2499.00000
max          9.000000  3332.00000

### Step 5: Update all column names in the dataframe to be lower case. Show the "before" and "after" results of this operation.

In [ ]:
print("Before:")
print(Churn.columns.tolist())

#Convert str to lowercase
Churn.columns = Churn.columns.str.lower()

print("\nAfter:")
print(Churn.columns.tolist())

### Step 6: Remove special characters and spaces from all column names in the dataframe. Show the "before" and "after" results of this operation.

In [ ]:
print("Before:")
print(Churn.head())

#Remove spaces and special characters
Churn.columns = Churn.columns.str.replace(r'[^a-zA-Z0-9]', '', regex=True)

print("\nAfter:")
print(Churn.columns.tolist())

### Step 7: Remove duplicate rows (if any). State how many duplicate rows (if any) where removed.

In [14]:
duplicate_count = Churn.duplicated().sum()

#Removes duplicates
Churn = Churn.drop_duplicates()

print("Number of duplicate rows removed:", duplicate_count)

Number of duplicate rows removed: 0

### Step 8: Count and indicate the missing values that exist in the dataframe.

In [15]:
#Checks every cell in dataframe... True = 1, False = 0
missing_values = Churn.isna().sum()

print("Missing values per column:")
print(missing_values)

#Total missing values
total_missing = missing_values.sum

print("\nTotal missing values:", total_missing)

Missing values per column:
State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     2
Day Mins          1
Day Calls         1
Day Charge        4
Eve Mins          0
Eve Calls         3
Eve Charge        1
Night Mins        2
Night Calls       2
Night Charge      0
Intl Mins         2
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
record            0
dtype: int64

Total missing values: <bound method Series.sum of State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     2
Day Mins          1
Day Calls         1
Day Charge        4
Eve Mins          0
Eve Calls         3
Eve Charge        1
Night Mins        2
Night Calls       2
Night Charge      0
Intl Mins         2
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
record            0
dtype: int64>

### Step 9: Detect and impute missing data for continuous variables with the median of the respective column. Then, check to ensure that no missing data exist.

In [16]:
# Step 1: Identify numeric columns
numeric_cols = Churn.select_dtypes(include=['number']).columns
print("Numeric columns:", numeric_cols.tolist())

# Step 2: Impute missing values with median safely
for col in numeric_cols:
    median_value = Churn[col].median()
    Churn[col] = Churn[col].fillna(median_value)

# Step 3: Verify no missing values remain
missing_values_after = Churn.isna().sum()
print("\nMissing values per column after imputation:")
print(missing_values_after)

total_missing_after = missing_values_after.sum()
print("\nTotal missing values after imputation:", total_missing_after)

Numeric columns: ['Account Length', 'Area Code', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge', 'CustServ Calls', 'record']

Missing values per column after imputation:
State             0
Account Length    0
Area Code         0
Phone             0
Int'l Plan        0
VMail Plan        0
VMail Message     0
Day Mins          0
Day Calls         0
Day Charge        0
Eve Mins          0
Eve Calls         0
Eve Charge        0
Night Mins        0
Night Calls       0
Night Charge      0
Intl Mins         0
Intl Calls        0
Intl Charge       0
CustServ Calls    0
Churn?            0
record            0
dtype: int64

Total missing values after imputation: 0

### Step 10: There is an extreme outlier in the "vmailmessage" column in the dataframe. You are requested to use the "outliers" package to locate the outlier. Complete the following:

In [ ]:
from outliers import smirnov_grubbs as grubbs

s = Churn["vmailmessage"].dropna()

#Run Grubbs test (this confirms statistical significance)
grubbs.max_test(s.values)

#Get position of maximum value
pos = np.argmax(s.values)

#Get record number from original dataframe
record_number = s.index[pos]

#Get the actual outlier value
outlier_value = s.iloc[pos]

print("\nOutlier value:", outlier_value)
print("Record number:", record_number)

### Step 11: Recode the "churn" field to remove the "periods." Show the "before" and "after" results of this operation.

In [ ]:
print("Before:")
print(Churn.churn.head())

#Regex=False because Regex=True a dot (.) means any character and not just a period
Churn["churn"] = Churn["churn"].str.replace(".", "", regex=False)

print("After:")
print(Churn.churn.head())

### Step 12: Install the "skimpy" package. Using the appropriate command from this package, summarize final Churn dataframe.

In [ ]:
from skimpy import skim

#skim() generates a compact, readable summary the entire DataFrame.
skim(Churn)

 ### Step 13: Export final Churn dataframe to an Excel file called "ChurnREADY."

In [ ]:
#Add index=false to prevent writing an extra column in excel
Churn.to_excel("ChurnREADY.xlsx", index=False)